<form action="/addSong" method="POST">
	<div class="form-group">
		<label for="title">Song Title:</label>
		<input type="text" name="title" id="title" class="form-control" placeholder="title" />

		<label for="author">Song Author:</label>
		<input type="text" name="author" id="author" class="form-control" placeholder="author" />

		{{#users}}
			<div class="checkbox">
				<label>
					<input type="checkbox" value="{{username}}" name="users" id="users">{{username}}
				</label>
			</div>
		{{/users}}

	</div>
	
	<button type="submit" class="btn btn-default">Submit</button>
</form>