<h3>These are mah ({{username}}) songs, biatch!</h3>

<table class="table">
<thead>
<tr>
	<th>Title</th>
	<th>Status</th>
	<th>Users</th>
</tr>
</thead>

<tbody>
{{#songs}}
	<tr>
		<td>{{title}}</td>
		<td>{{status}}</td>
		<td>
			<ul>
			{{#users}}
				<li>{{this}}</li>
			{{/users}}
			</ul>
		</td>
	</tr>
{{/songs}}
</tbody>
</table>